extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.container
		.article-box
			.article Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis a fugit repellendus corporis rerum ex neque blanditiis doloremque et sed exercitationem eligendi beatae impedit corrupti, qui quasi maxime fugiat aliquam dicta? Voluptate necessitatibus nesciunt totam inventore ipsum at minus possimus a! Voluptatem ratione ea numquam deleniti consequuntur accusamus ipsam mollitia quo laudantium eum? At aliquid placeat dicta quasi aliquam. Consectetur voluptas excepturi praesentium, pariatur iusto dolores quas similique perspiciatis modi a aspernatur culpa aperiam nisi eos facilis ipsum, asperiores saepe inventore, alias vitae obcaecati. Ratione tempora molestias ipsam iure voluptates et vel esse. Quod aspernatur porro recusandae sint deserunt. Eum.
